<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.nahueldallacamina.entregasintrodmobiles">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".Entregable4BoundService"
            android:enabled="true"
            android:exported="false"></service>
        <service
            android:name=".Entregable4Service"
            android:exported="false" />

        <activity android:name=".Entregable4">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <receiver
            android:name=".Entregable4NumberBroadcastReceiver"
            android:enabled="false"
            android:exported="false" />

        <service
            android:name=".Entregable4IntentService"
            android:exported="false" />

        <activity android:name=".Entregable3">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Entregable2OperandsForm">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Entregable2EntryPoint" />
        </activity>
        <activity android:name=".Entregable2EntryPoint">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Entregable1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>